main {
  background-color: #f5f5f7;
}

.content-left {
  .card {
    max-width: 400px;
    aspect-ratio: 400 / 252;
    @apply relative flex items-center justify-center bg-gray-200 rounded-lg;
    border: 2px dashed #ccc;

    img {
      @apply hidden object-cover w-full h-full rounded-lg;
    }

    img.block {
      display: block;
    }

    input[type="file"] {
      display: none;
    }

    .upload-btn {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      display: inline-flex;
      align-items: center;
      justify-content: center;
      width: 60px;
      height: 60px;
      font-size: 14px;
      color: #ef4444;
      border: none;
      border-radius: 100%;
      background-color: #fff;
      opacity: 0;
      @apply transition-all;
      cursor: pointer;
    }

    &:hover {
      @apply border-blue-400;
      .upload-btn {
        opacity: 1;
      }
    }
  }
}

.content-right {
  color: #121212;
  background: white;

  .field {
    label {
      @apply inline-block mb-2 text-sm font-medium;
    }

    input {
      @apply block w-full px-4 py-3 transition-all border-2 border-gray-300 rounded-lg outline-gray-300 h-14;
      &:focus {
        @apply border-blue-400 outline-blue-400;
      }
    }
  }
}
